header {
  height: 162px;
  width: 100%;
}

.footer {
  display: flex;
  position: relative;
  justify-content: center;
  height: 500px;
  width: 100%;
  background: #79DCD7;
}

.footerBottom {
  position: absolute;
  bottom: 29px;
}

.headerPhoto {
  width: 100%;
  height: auto;
  position: relative;
}

.logo {
  position: absolute;
  z-index: 400;
  height: 62px;
  padding: 4px;
}

.getStartedParent {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

#health-container {
  position: relative;
  height: 196px;
  background-color: pink;
}

.dietaryNeeds {
  padding-top: 50px;
}

#health-diet {
  display: flex;
  justify-content: center;
}

.searchFood {
  display: flex;
  justify-content: center;
}

form#health-diet {
  display: flex;
  justify-content: center;
}

.main-container {

}

#results {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
}

.hidden {
  display: none;
}
