header {
  height: 162px;
  width: 100%;
}

.logoText {
  padding-top: 28px;
  position: absolute;
  z-index: 600;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.logoText button {
  color: pink;
}

.footer {
  display: flex;
  position: relative;
  justify-content: center;
  height: 900px;
  width: 100%;
  background: #79DCD7;
}

.footerBottom {
  position: absolute;
  bottom: 29px;
  padding-bottom: 100px;
}

.mid-section {
  background: pink;
  height: 63px;
  padding-top: 432px;
}

.headerPhoto {
  width: 100%;
  height: auto;
  filter: grayscale(62%);
  position: absolute;
}

.greatMealsLogo {
  position: relative;
  height: 68px;
}

.logo {
  position: absolute;
  z-index: 400;
  height: 62px;
  padding: 4px;
}

.getStartedParent {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

#health-container {
  position: relative;
  height: 196px;
}

.dietaryNeeds {
  padding-top: 50px;
  position: absolute;
  z-index: 400;
}

.dietaryYesOrNo {
  padding-top: 23px;
}

#health-diet {
  display: flex;
  justify-content: center;
}

.searchFood {
  display: flex;
  justify-content: center;
}

form#health-diet {
  display: flex;
  justify-content: center;
}

.main-container {
  padding-top: 20%;
}

.resultImage {
  height: 200px;
}

#results {
  display: flex;
  padding-top: 79px;
  height: 500px;
  background: grey;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
}

.hidden {
  display: none;
}
