* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 0;
}

h1, dl, h3, h4, table, button, label, h2, a {
    line-height: 1.8em;
    font-family: 'Open Sans', sans-serif;
}

.centered-container {
  width: 90%;
  margin: auto;
}

html, body {
  margin: 0;
  height: 100%;
}

h1 {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-weight: 400;
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;
}

h3, label, th, input, select, .health-container button {
  font-size: 22px;
  font-weight: 300;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

tr, dl, dt {
  font-family: 'Open Sans', sans-serif;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 2;
}

.health-container {
  padding: 10px;
  width: 90%;
  max-width: 660px;
  margin: 20px auto;
  border: 1px solid black;
  font-family: 'Open Sans', sans-serif
}

.health-container button {
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 20px;
  padding: 5px;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

button:hover, select:hover, .cover-photo:hover {
  cursor: pointer;
}

label {
  display: block;
}

.form-container {
  display: inline-block;
  height: 100px;
  vertical-align: middle;
  padding: 10px;
}

input {
  padding-left: 20px;
  border: none;
}

select {
  margin-left: 20px;
  background-color: white;
  border: none;
  color: grey;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.footer, .push {
  height: 50px;
}

#results {
    line-height: 0;
    max-width: 900px;
    margin: 20px auto;
}

.name {
  height: 100px;
}

.result {
    box-sizing: border-box;
    width: 300px;
    display: inline-block;
}

.result h3 {
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);;
}

a {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.result button, a {
  margin: 10px;
}

.cover-photo {
  height: 300px;
}

.hidden {
    display: none;
}

.float {
    float: left;
}

@media only screen and (max-width: 500px) {
    .health-container {
      width: 100%;
    }
}
